body{
font-family: Arial, sans-serif;
background:#e5e5e5;
display:flex;
justify-content:center;
padding:40px;
}

*{
box-sizing: border-box;
}

input,
button{
width:100%;
padding:12px;
margin-top:15px;
}

.widget{
max-width:45rem;
width:100%;
background:#5b2b10;
color:white;
padding:40px;
text-align:center;
}

header img{
width:120px;
margin-bottom:20px;
}

h1{
font-size:3rem;
margin-bottom:10px;
}

input{
width:100%;
padding:12px;
margin-top:20px;
}

button{
width:100%;
padding:12px;
margin-top:15px;
background:#8bb4d8;
border:none;
cursor:pointer;
}

ul{
list-style:none;
padding:0;
margin-top:20px;
}

li{
padding:10px;
border-bottom:1px solid #ccc;
text-align:left;
}

.feedback{
color:#ffbaba;
margin-top:10px;
}

footer{
margin-top:30px;
}

footer a{
margin:0 10px;
color:#9ec3e3;
text-decoration:none;
font-size:20px;
}


